/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700 */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    /* background-color: var(--Light-gray); */
}

:ROOT{
    --white :hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}
body{
    justify-content: center;
    align-items: center;
    background-color: var(--Light-gray);
}
.container{
    width: 420px;
    border: 2px solid var(--Grayish-blue);
    padding: 30px 30px;
    border-radius: 40px;
    margin: 3% auto;
    background:var(--white);
    
}
.image img{
    width: 100%;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
.main{
    text-align: center;
    background: var(--white);
}

footer .close{
    font-size: 12px;
    text-align: center;
    background:var(--white);
       
}

.close a{
    text-decoration: none;
}
.close a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 375px){
    .container{
        position: absolute;
    }
}